<% include partials/header %>

<body>
  
<div class="uk-position-medium uk-position-top-center">
  <h2 id="headline">ENERCİKS</h2>
  <p>Çılgın bir dünyaya adım atmak için öncelikle giriş yapmalısınız!</p>
</div>

<div class="uk-flex uk-flex-center uk-position-center">
  <div class="uk-flex uk-flex-middle uk-background-muted uk-padding">
    <form>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="text">
            </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline">
            <button class="uk-button uk-button-default uk-button-small uk-margin-right">Giriş</button><button class="uk-button uk-button-default uk-button-small">Kayıt</button>
          </div>
        </div>
    </form>
  </div>
</div>



<% include partials/footer %>