 body {
     background-image: url(http://photouploads.com/images/ea0cfa.png);
 }
 
 #headline {
     font-family: 'Bowlby One SC', cursive;
     color: #9ea1aa;
     padding-top: 20px;
     text-align: center;
 }